body {
background-color: rgb(60,20,70);
font-family: cursive;
align-content: center;
background-image: url("images/code.png");
background-size: 1900px 1800px;

}
header .list{ 
	list-style-type: none;
	display: inline-flex;
	flex-direction: row;
}
header .first,li {
	display: inline-block;
	margin: 5px 5px 10px 45px; 
}nav {
	margin-left: 970px;
}
header {
	color: white;
	background-color: tan;
	height: 150px;
}
header .main{
	text-align: center;
}footer {
	background: black;
	color: white;
	margin-top:  400px;
	padding: 50px;
	height: 70px;
}
section .css{
	font-family:Courier New;
	background-color: white;
	text-align: left;
}
em{
	font-weight: bolder;
	color: red;
}a:hover{
	background-color: lightblue;
}
